$animate: all 0.0s ease-in-out;

#tabs {
    display: flex;
    margin: 1.5em;
    justify-content: flex-end;
    .tab {
        color: lighten(#6b75fe, 5%);
      .hover {
        font-size: 1.5em;
        font-family: 'Roboto Mono', monospace;
        text-align: center;
        margin: 1.5em;
        padding: 0;
        transition: $animate;
        position: relative;
        &:before,
        &:after {
          content: "";
          position: absolute;
          bottom: -10px;
          width: 0px;
          height: 5px;
          margin: 5px 0 0;
          transition: $animate;
          transition-duration: 0.2s;
          opacity: 0;
          background-color: darken(#6b75fe,5%);
        }
        &.hover-1 {
          &:before,
          &:after {
            left: 0;
          }
        }
      }
      &:hover {
        cursor: pointer;
        color: darken(#6b75fe,5%);
        .hover {
          &:before,
          &:after {
            width: 100%;
            opacity: 1;
          }
          &.hover-3,
          &.hover-4 {
            &:before,
            &:after {
              width: 50%;
            }
          }
        }
      }
    }
  }

@media all and (max-width: 600px) {
    #tabs {
        justify-content: center;
        margin: 1.5em 0.5em 1.5em 0.5em;

    }
}
  