.skill-tags {
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 12px;
    background-color: gray;
    color: black;
    border-radius: 5px;
    line-height: 1;
    height:12px;
}